.project {
  margin-top: 20px;
  margin-left: 165px;
  height: 120vh;
}

.project hr {
  color: #59c378;
  width: 400px;
  margin: 10px auto;
}

.project h2 {
  font-weight: bold;
  color: whitesmoke;
  font-family: "Poppins";
}

#ads {
  margin: 30px 0px 30px 0px;
}

.project .card {
  background-color: #050816;
  height: 350px;
  width: 300px;
}

.project .card img {
  height: 150px;
  width: 96%;
}

.card-image {
  margin-top: 10px;
  margin-left: 10px;
}

.card-detail-badge {
  background-color: #7393B3;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  color: white;
  font-weight: 500;
  padding: 5px 7px;
  font-size: 11px;
}

.card-image-overly {
  font-size: 20px;
}

.card-image-overly span {
  display: inline-block;
  margin-left: 5px;
}

.project .card:hover {
  transform: scale(1.05);
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);

}

.ad-btn {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  display: block;
  text-align: center;
  background-color: #232144;
  color: white;
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
  margin: 20px auto 20px auto;
  overflow: hidden;
  position: relative;
}

.ad-btn:hover {
  background-color: white;
  color: #138781;
  background: transparent;
  border: 2px solid #138781;
  transition: all 0.5s ease;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

.git-btn {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  display: block;
  text-align: center;
  background-color: #26225f;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  margin: 80px auto 20px auto;
  overflow: hidden;
  position: relative;
  font-family: "Poppins";
}

.git-btn:hover {
  background-color: white;
  color: #138781;
  background: transparent;
  border: 2px solid #138781;
  transition: all 0.5s ease;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}