.home-container {
  margin-left: 150px;
  display: flex;
  flex-direction: row;
}

.hi {
  font-family: "Poppins";
}

.hi2 {
  font-family: "Poppins";
}

.image-home {
  height: 420px;
  width: 420px;
}

.home-buttons .btn-cm {
  color: #fff;
  background-color: #4169E1;
  border-color: #4169E1;
  padding: 6px 20px 6px 20px;


}

.home-buttons .btn-cv {
  color: #fff;
  background-color: #1E90FF;
  border-color: #1E90FF;
  padding: 6px 20px 6px 20px;


}

.btn-cv:hover {
  box-shadow: 0 0 20px rgba(76, 76, 191, 0.5);
  transition: box-shadow 0.1s ease-in-out;
}

.btn-cm:hover {
  box-shadow: 0 0 20px #293f82;
  transition: box-shadow 0.1s ease-in-out;
}

.home-buttons {
  margin-top: 15px;
}

.home-buttons .btn-cv:hover {
  opacity: 80%;
  transition: 1s;
}

.name-head {
  display: inline-block;
  font-size: 32px;
}

.name-body {
  display: inline-block;
  text-align: center;
}

.image-about {

  margin-top: 120px;
}

.content {
  min-width: 35vw;
  margin-top: 12rem;


}

.dev {
  font-size: 1rem;
  font-family: "Poppins";
  color: rgb(163, 159, 159);
  margin-top: 10px;
  margin-bottom: 10px;
}

.p0 {
  font-size: 1.1rem;
  color: rgb(145, 145, 164);
  margin-bottom: 10px;
  margin-top: 20px;

}

.bthm {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}


@media only screen and (max-width: 630px) {

  .home-container {
    flex-direction: column;

    margin-left: 10px;

  }

  .content {
    margin-top: 8rem;
  }

  .hi2 {
    font-size: 25px;
  }

  .home-buttons .btn-cv {
    padding: 7px 12px 7px 12px;
    font-size: 16px;
  }

  .home-buttons .btn-cm {
    padding: 7px 12px 7px 12px;

  }

  .bthm {
    gap: 24px;
  }

  .image-home {
    height: 320px;
    width: 320px;
  }

  .image-about {
    margin-top: 40px;

  }
}