/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@font-face {
  font-family: 'BestermindRegular';
  src: url('./assets/fonts/Bestermind/BestermindRegular.ttf');
  src: url('./assets/fonts/Bestermind/BestermindRegular.ttf') format('embedded-opentype'),
    url('./assets/fonts/Bestermind/BestermindRegular.ttf') format('truetype'),
}


 body{
  overflow-x: hidden;
}
html{

      overflow-x: hidden;
  
} 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}