.techstack {
  padding-left: 180px;
  margin-top: 170px;

}

.techstack hr {
  color: #59c378;
  width: 200px;
  margin: 10px auto;

}

.techstack h2 {
  font-weight: bold;
  color: white;
  font-family: "Poppins";
}

.techstack .card {
  cursor: pointer;
  background-color: #14143a;
  color: white;
  height: 80px;
  width: 180px;
}

.techstack .tech-icon {
  font-size: 2rem;
  margin-right: 20px;

}

.exp {
  font-size: 0.7rem;
  color: #aee2bf;
}


.techstack .card:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 630px) {

  .techstack {
    padding-left: 0px;
    margin-top: 140px;


  }

  .techstack hr {
    width: 160px;
  }

  .techstack .card {
    width: 150px;
    height: 85px;

  }

  .techstack .tech-icon {
    font-size: 1.3rem;

    margin-right: 10px;
  }

  .tech-name {
    font-size: 18px;
  }

  .techstack .card:hover {
    transform: scale(1.1);
  }
}