.education {
  margin-top: 120px;
  margin-left: 165px;
  height: 145vh;

}

.education hr {
  color: #59c378;
  width: 400px;
  margin: 10px auto;
}

.education h2 {
  font-weight: bold;
  color: white;
  font-family: "Poppins";
}

.education .vertical-timeline-element-date {
  color: white;
}

.education .vertical-timeline-element-title {
  color: white;
  font-size: 23px;
}

.education .vertical-timeline-element-subtitle {
  color: #AAA6C3;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
}