.work {
  margin-left: 140px;
  margin-top: 180px;
}

.work-exp {
  padding: 10px 0px;
}

.work-exp h2 {
  font-weight: bold;
  color: whitesmoke;
  font-family: "Poppins";
}

.work-exp hr {
  color: #138781;
  width: 400px;
  margin: 10px auto;
}

.work-exp .vertical-timeline-element-title {
  color: white;
}

.work-exp .vertical-timeline-element-subtitle {
  color: #AAA6C3;
}


@media only screen and (max-width: 630px) {
  .work {
    margin-left: 5px;
    margin-top: 140px;
  }

  .work-exp hr {
    width: 250px;
    margin-bottom: 40px;
  }

  .work-exp .vertical-timeline-element-title {
    font-size: 20px;
  }

  .work-exp .vertical-timeline-element-subtitle {
    font-size: 15px;
    margin-top: 10px;
  }

  .info-work {
    font-weight: 300 !important;

  }
}